<nav class="navbar navbar-expand-md navbar-light bg-light p-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="/homes"><h1>Rabbit Times</h1></a>
 
  <div class="collapse navbar-collapse justify-content-around" id="navbarNav4">
    
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/money"><h1>Money</h1></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/questions"><h1>Question</h1></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/articles"><h1>Article</h1></a>
      </li>
    </ul>
    </div>
</nav>